<p id="notice"><%= notice %></p>

<p>
  <strong>Matprod category code:</strong>
  <%= @mat_prod.matprod_category_code %>
</p>

<p>
  <strong>Matprod sub code:</strong>
  <%= @mat_prod.matprod_sub_code %>
</p>

<p>
  <strong>Matprod type:</strong>
  <%= @mat_prod.matprod_type %>
</p>

<p>
  <strong>Matprod code:</strong>
  <%= @mat_prod.matprod_code %>
</p>

<p>
  <strong>Matprod refcode:</strong>
  <%= @mat_prod.matprod_refcode %>
</p>

<p>
  <strong>Matprod shortdesc:</strong>
  <%= @mat_prod.matprod_shortdesc %>
</p>

<p>
  <strong>Matprod remarks:</strong>
  <%= @mat_prod.matprod_remarks %>
</p>

<p>
  <strong>Matprod status:</strong>
  <%= @mat_prod.matprod_status %>
</p>

<p>
  <strong>Matprod cost price:</strong>
  <%= @mat_prod.matprod_cost_price %>
</p>

<p>
  <strong>Matprod selling price:</strong>
  <%= @mat_prod.matprod_selling_price %>
</p>

<p>
  <strong>Matprod uom:</strong>
  <%= @mat_prod.matprod_uom %>
</p>

<p>
  <strong>Matprod photo:</strong>
  <%= @mat_prod.matprod_photo %>
</p>

<p>
  <strong>Matprod cost code:</strong>
  <%= @mat_prod.matprod_cost_code %>
</p>

<p>
  <strong>Matprod barcode:</strong>
  <%= @mat_prod.matprod_barcode %>
</p>

<p>
  <strong>Updated user:</strong>
  <%= @mat_prod.updated_user_id %>
</p>

<p>
  <strong>Matprod is batch serial:</strong>
  <%= @mat_prod.matprod_is_batch_serial %>
</p>

<p>
  <strong>Matprod is batch only:</strong>
  <%= @mat_prod.matprod_is_batch_only %>
</p>

<p>
  <strong>Matprod est weight gram:</strong>
  <%= @mat_prod.matprod_est_weight_gram %>
</p>

<p>
  <strong>Matprod size mm:</strong>
  <%= @mat_prod.matprod_size_mm %>
</p>

<p>
  <strong>Matprod length mm:</strong>
  <%= @mat_prod.matprod_length_mm %>
</p>

<p>
  <strong>Matprod thikness mm:</strong>
  <%= @mat_prod.matprod_thikness_mm %>
</p>

<p>
  <strong>Matprod is hollow:</strong>
  <%= @mat_prod.matprod_is_hollow %>
</p>

<p>
  <strong>Matprod is solid:</strong>
  <%= @mat_prod.matprod_is_solid %>
</p>

<p>
  <strong>Matprod is melting process:</strong>
  <%= @mat_prod.matprod_is_melting_process %>
</p>

<p>
  <strong>Matprod is weight item:</strong>
  <%= @mat_prod.matprod_is_weight_item %>
</p>

<%= link_to 'Edit', edit_mat_prod_path(@mat_prod) %> |
<%= link_to 'Back', mat_prods_path %>
